[% META title = 'Users list' %]

<table id="userlist">
<tr>
	<th>Num</th>
	<th>Alias</th>
	<th>Domain</th>
	<th>Description</th>
</tr>
[% FOREACH user IN users %]
<tr>
	<!-- <td><input type="checkbox" name="sel" value="[% user.id %]" /></td> -->
	<td><a href="[% user.id %]">[% user.num.num %]</a></td>
	<td>[% user.alias %]</td>
	<td>[% user.domain %]</td>
	<td>[% user.num.descr | html %]</td>
</tr>
[% END %]
</table>
<a href="create">Add another user</a>



