<h1>IVR &mdash; MD</h1>
<div class="row-fluid">

<div class="span6">
	<div class="gridStyle" ng-grid="gridOptions" style="width:100%"></div>
	<div class="well">
		<dirnum dir-num="selection[0].num" num-type="ivr" any-change="onDirnumChanged(field)" is-disabled="!selection[0]" />
	</div>
	<button class="btn" ng-click="onNew()">New</button>
	<button class="btn" ng-click="onSave()" ng-disabled="!selection[0].changed">Save</button>
	<button class="btn" ng-click="onDelete()" ng-disabled="!selection[0].id">Delete</button>
	<p class="warning" ng-show="selection[0].changed">Current row is not saved</p>
</div>

<form name="editForm" class="form-inline span6" role="form"><div class="well" style="width:16em; text-align:center;">
	<div class="row-fluid">
		<fieldset ng-disabled="!selection[0]">
			<label>Number length <input type="text" ng-model="selection[0].numlen" ng-change="selection[0].changed=true" /></label>
			<label>Allowed First digits <input type="text" ng-model="selection[0].firstdigit" ng-change="selection[0].changed=true" /></label>
			<label>Exit position on timeout <input type="text" ng-model="selection[0].etimeout" ng-change="selection[0].changed=true" /></label>
			<label>Timeout in seconds <input type="text" ng-model="selection[0].timeout" ng-change="selection[0].changed=true" /></label>
			<label>Prompt file <input type="text" ng-model="selection[0].prompt" ng-change="selection[0].changed=true" /></label>
		</fieldset>
	</div>
</div></form>

</div>

