
<form novalidate>
<div class="container-fluid">
<div class="row-fluid">
	<div id="mainuserinfo" class="span7">
		<div id="userswitcher" class="container-fluid" ng-show="existingUser">
			<div class="row-fluid form-inline">
				<div class="span2"><a class="btn btn-small" ng-href="#/users/{{navigation.prev}}">&#9664;&#9664; Prev. User</a></div>
				<div class="span2"><a class="btn btn-small" ng-href="#/users">Back to list</a></div>
				<div class="span6">
					<input type="text" ng-model="finduser" placeholder="Search..."
						typeahead="x as x.label for x in usersSource($viewValue)"
						typeahead-on-select="userSelectionDone($item)" />
				</div>
				<div class="span2"><a class="btn btn-small" ng-href="#/users/{{navigation.next}}">Next User &#9654;&#9654;</a></div>
			</div>
		</div>

		<h2>{{ existingUser ? (user.num.num + ': ' + user.num.descr) : 'New user' }}</h2>
		<div class="span12 well">
			<dirnum dir-num="user.num" num-type="user" num-readonly="existingUser" />
		</div>
		<!--
		<div class="span12 controls form-horizontal well">
			<input type="text" class="span2" placeHolder="Number" ng-model="user.num.num" ng-readonly="existingUser" ng-change="numCahnge()"/>
			<input type="text" class="span8" placeHolder="Description" ng-model="user.num.descr" />
			<div class="small" ng-show="user.num.num">
				<div class="text-warning" ng-show="warns" ng-bind="warns" />
				<div class="text-success" ng-hide="warns">Ok</div>
			</div>
		</div>
		-->
		<div class="span12 controls form-horizontal">
			<label>Display name: <input type="text" class="span9" placeHolder="Display Name" ng-model="user.dispname" /></label>
		</div>
		<div class="span12 controls form-inline">
			<label>Password: <input type="text" placeHolder="Password" ng-model="user.password" /></label>
			<button class="btn" ng-click="user.password = randomPassword(12)">Random</button>
		</div>
		<div class="span12 controls form-inline">
			<label>Alias: <input type="text" placeHolder="Alias" ng-model="user.alias" /></label>@<input type="text" placeHolder="Domain" ng-model="user.domain" />
			<label>Domain login: <input type="text" placeHolder="Domain login" ng-model="user.login" /></label>
		</div>
		<div class="span12 controls form-horizontal">
			<label>Voice traffic encryption mode: <select ng-model="user.secure">
				<option value="off">Disabled</option>
				<option value="ssl">When TLS</option>
				<option value="on">Enable always</option>
			</select></label>
		</div>
		<div class="span12 controls">
			<span class="span3">Last registered: {{ user.lastreg }}</span>
			<span class="span3">Last IP: {{ user.lastip }}</span>
		</div>
		<div class="span12 controls form-horizontal">
			<label class="span4"><input type="checkbox" ng-model="user.nat_support" /> NAT support</label>
			<label class="span4"><input type="checkbox" ng-model="user.nat_port_support" /> NAT port support</label>
			<label class="span4"><input type="checkbox" ng-model="user.media_bypass" /> Media bypass</label>
			<label class="spam4 badge" ng-repeat="b in possibleBadges"><input type="checkbox" ng-model="badges[b]" /> {{ b }}</label>
		</div>
		<div class="span12 form-horizontal">
			<button class="btn" ng-click="saveUser()">Save</button>
			<button class="btn" ng-show="existingUser" ng-click="deleteUser()">Delete</button>
			<a ng-href="#/users" class="btn">Cancel</a>
		</div>
	</div>
	<div id="moreuserinfo" class="span5 container-fluid" ng-show="existingUser">
		<div class="row-fluid">
			<h3>Registrations</h3>
			<table>
			<tr ng-repeat="r in regs">
				<td><a href="#/regs/{{ r.location }}" title="{{ r.device }}">{{ r.location }}</a></td>
				<td><abbr title="{{ r.ip_host }}">{{ r.driver }} {{ r.ip_transport }}</abbr></td>
			</tr>
			</table>
		</div>
		<div class="row-fluid">
			<h3>Devices</h3>
			<table>
			<tr ng-repeat="p in provisions">
				<td><a href="#/provisions/{{ p.id }}">{{ p.hw }}</a></td>
				<td>{{ p.devtype }}</td>
			</tr>
			</table>
		</div>
		<div class="row-fluid">
			<a class="actbutton" ng-click="editOthernums()">Edit</a>
			<h3>Other contacts</h3>
			<ol class="list-unstyled">
			<li ng-repeat="n in morenums">
				{{ n.numkind.descr }}
				<a href="#/morenums/{{ n.id }}" title="{{ n.descr }}">{{ n.val }}</a>
				<i show="n.div_offline" divertion-icon="offline" ></i>
				<i show="n.div_noans" divertion-icon="noans" ></i>
				<abbr show="n.div_noans" title="'No Answer' timeout">{{ n.timeout }}</abbr>
			</li>
			</ol>
		</div>
		<div class="row-fluid">
			<a class="actbutton" ng-click="editBLFs()">Edit</a>
			<h3>Busy lamps</h3>
			<table>
			<tr ng-repeat="x in blfs">
				<td>{{ x.key }}</td>
				<td>{{ x.num }}</td>
				<td>{{ x.descr }}</td>
			</tr>
			</table>
		</div>
	</div>
</div> <!-- row-fluid -->
</div> <!-- container-fluid -->
</form>


