
<form novalidate>
<div class="container-fluid">
<div class="row-fluid">
	<div id="mainuserinfo" class="span7">
		<h2>{{ existingUser ? (user.num + ': ' + user.descr) : 'New user' }}</h2>
		<div class="controls">
			<input type="text" class="span1" placeHolder="Number" ng-model="user.num" ng-readonly="existingUser" />
			<input type="text" class="span3" placeHolder="Password" ng-model="user.password" />
			<button ng-click="user.password = randomPassword(12)">Random</button>
			<input type=text class="span4" placeHolder="Domain login" ng-model="user.login" />
		</div>
		<div class="controls">
			Alias: <input type="text" class="span2" placeHolder="Alias" ng-model="user.alias" />@<input type="text" class="span3" placeHolder="Domain" ng-model="user.domain" />
		</div>
		<div class="controls">
			<span class="span3">Last registered: {{ user.lastreg }}</span>
			<span class="span3">Last IP: {{ user.lastip }}</span>
		</div>
		<div class="controls">
			<textarea class="span11" placeHolder="Description" ng-model="user.descr" />
		</div>
		<div class="controls">
			<input type="text" class="span11" placeHolder="Display Name" ng-model="user.dispname" />
			<span class="span6"><label>NAT support <input type="checkbox" ng-model="nat_support" /></label></span>
			<span class="span6"><label>NAT port support <input type="checkbox" ng-model="nat_port_support" /></label></span>
		</div>
		<div class="controls span12">
			<button ng-click="saveUser()">Save</button>
			<button ng-show="existingUser" ng-click="deleteUser()">Delete</button>
		</div>
	</div>
	<div id="moreuserinfo" class="span3 container-fluid">
		<div class="row-fluid">
			<h3>Registrations</h3>
			<table>
			<tr ng-repeat="r in regs">
				<td><a href="#/regs/{{ r.location }}" title="{{ r.device }}">{{ r.location }}</a></td>
				<td>{{ r.driver }} {{ r.ip_transport }}</td>
				<td>{{ r.ip_host }}</td>
			</tr>
			</table>
		</div>
		<div class="row-fluid">
			<h3>Devices</h3>
			<table>
			<tr ng-repeat="p in provisions">
				<td><a href="#/provisions/{{ p.id }}">{{ p.hw }}</a></td>
				<td>{{ p.devtype }}</td>
			</tr>
			</table>
		</div>
		<div class="row-fluid">
			<h3>Other contacts</h3>
			<table>
			<tr ng-repeat="n in morenums">
				<td>{{ n.numkind.descr }}</td>
				<td><a href="#/morenums/{{ n.id }}" title="{{ n.descr }}">{{ n.val }}</a></td>
				<td>
					<i show="n.div_offline" divertion-icon="offline" ></i>
					<i show="n.div_noans" divertion-icon="noans" ></i>
				</td>
				<td><abbr title="'No Answer' timeout">{{ n.timeout }}</abbr></td>
			</tr>
			</table>
			<a ng-click="editOthernums()">Edit</a>
		</div>
		<div class="row-fluid">
			<h3>Busy lamps</h3>
			<table>
			<tr ng-repeat="x in blfs">
				<td>{{ x.key }}</td>
				<td>{{ x.num }}</td>
				<td>{{ x.descr }}</td>
			</tr>
			</table>
			<a ng-click="editBLFs()">Edit</a>
		</div>
	</div>
</div> <!-- row-fluid -->
</div> <!-- container-fluid -->
</form>


