Source: dyatel
Section: comm
Priority: optional
Maintainer: Vasily i. Redkin <vir@ctm.ru>
Build-Depends: build-essential, debhelper (>= 7), pkg-config
Standards-Version: 3.7.3
Homepage: http://github.com/vir/dyatel/

Package: dyatel
Architecture: any
Depends: yate, yate-pgsql, dbconfig-common
Recommends: postgresql-client
Suggests: yate-telhw
Description: My yate-based pbx


