Source: dyatel
Section: comm
Priority: optional
Maintainer: Vasily i. Redkin <vir@ctm.ru>
Build-Depends: build-essential, debhelper (>= 7), pkg-config,
 autoconf (>= 2.50), libcatalyst-devel-perl, libcatalyst-modules-perl,
 libmodule-install-perl, libtest-fatal-perl, libjson-maybexs-perl,
 libplack-middleware-methodoverride-perl, libsafe-isa-perl,
 libstream-buffered-perl
Standards-Version: 3.7.3
Homepage: http://github.com/vir/dyatel/

Package: dyatel
Architecture: all
Depends: dbconfig-common, libpg-hstore-perl,
 supervisor-daemon (>= 1.0.2), libyate-perl (>= 5.0.1~vir2013121601~a), libconfig-jfdi-perl,
 libcatalyst-modules-perl, libfcgi-procmanager-perl,
 liblog-any-adapter-perl, liblog-any-adapter-catalyst-perl,
 php5-cli, libmce-perl
Recommends: yate (>= 5.4.1~vir2014121201~a), yate-pgsql,
 postgresql-client, postgresql-contrib (>= 9.0),
 atftpd | tftpd, libimage-magick-perl
Suggests: yate-telhw, timidity, madplay
Description: My yate-based pbx


