Source: dyatel
Section: comm
Priority: optional
Maintainer: Vasily i. Redkin <vir@ctm.ru>
Build-Depends: build-essential, debhelper (>= 7), pkg-config,
 autoconf (>= 2.50), libcatalyst-devel-perl, libcatalyst-modules-perl,
 libmodule-install-perl
Standards-Version: 3.7.3
Homepage: http://github.com/vir/dyatel/

Package: dyatel
Architecture: all
Depends: dbconfig-common, libpg-hstore-perl,
 supervisor-daemon (>= 1.0.2), libyate-perl (>= 5.0.1~vir2013121601), libconfig-jfdi-perl,
 libcatalyst-modules-perl, libfcgi-procmanager-perl,
 liblog-any-adapter-perl, liblog-any-adapter-catalyst-perl
Recommends: yate, yate-pgsql, postgresql-client, postgresql-contrib (>= 9.0),
 atftpd | tftpd
Suggests: yate-telhw, timidity, madplay
Description: My yate-based pbx


