<div class="modal-header">
	<h1>{{ num }}</h1>
</div>

<div class="modal-body">
	<div ng-switch on="infstatus">
		<div ng-switch-when="here">
			<dl class="dl-horizontal">
				<dt ng-repeat-start="(k, v) in info">{{k}}</dt>
				<dd ng-repeat-end="">{{v}}</dd>
			</dl>
		</div>
		<div ng-switch-default>
			<strong>{{infstatus}}</strong>
		</div>
	</div>
	<pre ng-bind="log" style="font-size:70%"></pre>
</div>

<div class="modal-footer">
	<button class="btn btn-large" ng-repeat="(name, callback) in buttons" type="button" id="btn-{{name}}" ng-click="callback()">{{name | capitalize}}</button>
	<button class="btn btn-large" ng-click="btnCancel()">Cancel</button>
</div>

