<!-- Begin page content -->
<div id="homepage" class="fillpage container-fluid">

 <div id="mytoolbar">
  <div id="fullscreen-button" class="pull-right"><fullscreen></fullscreen></div>
  <div id="connection-state" class="pull-right">
   <a href="javascript:void(0)" title="{{'ConnectionCheck' | translate}}" ng-class="{badge:true, 'badge-success':connected, 'badge-warning':!connected }" ng-click="testEvent()"><i ng-class="{'flaticon-signal37':connected, 'flaticon-signal36':!connected}"></i></a>
  </div>
  <div id="mydevices" class="pull-right">
   <div ng-repeat="ph in devices" ng-class="['pull-left', ph.driver.toLowerCase(), ph.ip_transport.toLowerCase()].join(' ')">
    <i class="flaticon-phone25" title="{{ [ph.device, ph.ip_host, ph.driver, ph.ip_transport].join(' ')}}"></i>
   </div>
  </div>
 </div>

 <form class="fillpage form-inline" novalidate="1">
  <div class="fillpage row-fluid">
   <div class="fillpage span4 noscroll" style="padding:12px;"><!-- left column -->

    <div id="callemall" class="controls input-append">
      <input type="text" ng-model="phone" typeahead="x as x.label for x in dataSource($viewValue) | limitTo:25" typeahead-on-select="selectionDone($item)" focus-me />
      <button class="btn" ng-click="doCall({num: phone, op: 'button'})"><i class="icon-fire"></i></button>
    </div>

    <a ng-show="conf.debug" title="{{'Refresh' | translate}}" class="pull-right btn btn-mini" ng-click="updateBLFs()"><i class="icon-refresh"></i></a>
    <div ng-hide="blfs.length" translate>NoBLFsDefined</div>
    <table id="blfs" class="table table-condensed table-hover">
     <tr ng-repeat="r in blfs" ui-on-drop="onDrop($data, 'num', r.num)" ng-click="doCall({num: r.num, op: 'blf'})">
      <td><div ng-class="'blf-led blf-' + r.status"></div></td>
      <td>{{ r.num }}</td>
      <td>{{ r.label || r.dirdescr }}</td>
     </tr>
    </table>
   </div> <!-- /left column -->

   <div class="fillpage span8 controls allow-scroll" style="padding:12px;">
    <tabset class="fillpage">
     <tab>
      <tab-heading>
       <ng-switch on="current.incomingcall">
        <span ng-switch-default translate>CurrentCalls</span>
        <span ng-switch-when="true" class="rainbow"><i class="flaticon-bell5"></i> <span translate>Ringing</span>!</span>
       </calls-tab-heading>
      </tab-heading>
      <a ng-show="conf.debug" title="{{'Refresh' | translate}}" class="pull-right btn btn-mini" ng-click="updateLinetracker()"><i class="icon-refresh"></i></a>
      <em ng-show="linetracker.length === 0" translate>None</em>
      <div ng-hide="linetracker.length === 0">
       <table class="table table-condensed">
        <tr ng-repeat="r in linetracker" ui-on-drop="onDrop($data, 'chan', r.chan)">
         <td><input type="radio" name="activecallid" ng-model="current.activecallid" ng-value="r.billid" />
         <td><div ui-draggable="true" drag="r">{{ (r.direction === 'incoming') && r.called || r.caller }}</td></div>
         <td><abbr title="{{ { incoming:'Outgoing', outgoing:'Incoming' }[r.direction] | translate }}">
	  <i ng-class="{ incoming:'flaticon-outgoing2', outgoing:'flaticon-incoming2' }[r.direction]"></i>
         </abbr></td>
         <td>{{ r.status | capitalize | translate }}</td>
         <td>{{ r.billid }}</td>
        </tr>
       </table>
       <div class="callpanel">
        <button class="btn btn-small" btn-checkbox ng-model="addNote" id="buttonNote" title="{{'AddNote' | translate}}"><i class="flaticon-pen31"></i></button>
	<!--
        <button class="btn btn-small" btn-checkbox ng-model="recordCall" id="buttonRec" title="Record converstion"><i class="flaticon-record1"></i></button>
        <button class="btn btn-small" btn-checkbox ng-model="holdCall" id="buttonHold" title="Hold call"><i class="flaticon-phone70"></i></button>
        <button class="btn btn-small" id="buttonDrop" title="Disconnect"><i class="flaticon-cancel8"></i></button>
        <call-time time="42"></call-time>
        add note: {{addNote}}
        record: {{recordCall}}
	-->
       </div>
       <div class="well" ng-show="addNote">
        <small class="text-info" translate>AddYourNote</small>
        <edit-note class="span12" callid="{{current.activecallid}}" msgid="{{current.msgid}}"></edit-note>
       </div>
       <div class="calllog-msg" ng-repeat="x in calllog" ng-class="'calllog-' + x.tag.toLowerCase()">
	<!-- <button class="btn btn-mini" ng-click="delMsg($index)" title="Delete"><i class="icon-remove"></i></button> -->
	<button class="btn btn-mini" ng-click="editMsg($index)" title="{{'Edit' | translate}}"><i class="icon-edit"></i></button>
        <h4>
	 #{{x.id}} {{x.ts}} <em>{{x.tag}}</em>
	</h4>
        <div markdown="{{x.value}}"></div>
       </div>
      </div>
     </tab>
     <tab ng-repeat="t in ['all', 'missed', 'answered', 'outgoing']" heading="{{t+'Calls' | capitalize | translate}}" select="setSection(t)">
      <a ng-show="conf.debug" title="{{'Refresh' | translate}}" class="pull-right btn btn-mini" ng-click="updateCallList()"><i class="icon-refresh"></i></a>
      <div>
       <table class="table table-condensed table-hover">
        <tr><th translate>Time</th><th translate>BillId</th><th translate>Peer</th><th translate>BillTime</th><th translate>RingTime</th><th translate>StatusAndReason</th></tr>
        <tr ng-repeat="r in calls[section]">
         <td><abbr title="{{r.ts}}">{{r.ts.substr(8,11)}}</abbr></td> <td><a ng-href="#/calllist/{{r.billid}}">{{r.billid}}</a></td>
         <td>
	  <abbr title="{{{outgoing: 'Incoming', incoming: 'Outgoing'}[r.direction]}}"><i ng-class="{outgoing: 'flaticon-arrow219', incoming: 'flaticon-arrow217'}[r.direction]"></i></abbr>
          <a href="javascript:void(0)" ng-click="reCall(r)">{{ 'outgoing' === r.direction && r.caller || r.called }}</a>
	 </td>
         <td>{{r.billtime}}</td><td>{{r.ringtime}}</td><td>{{r.status | capitalize | translate}}/{{r.reason}}</td>
        </tr>
       </table>
      </div>
     </tab>
    </tabset>
   </div>
  </div> <!-- row-fluid -->
 </form>
</div>



