<!-- Begin page content -->
<div class="container-fluid">
 <div class="row-fluid">
  <div id="mytoolbar">
   <div id="fullscreen-button" class="pull-right"><fullscreen></fullscreen></div>
   <div id="connection-state" class="pull-right">
    <a href="javascript:void(0)" title="Check connection" ng-class="{badge:true, 'badge-success':connected, 'badge-warning':!connected }" ng-click="testEvent()"><i ng-class="{'flaticon-signal35':connected, 'flaticon-signal36':!connected}"></i></a>
   </div>
  </div>
  <h1>Dyatel web interface</h1>
 </div>
 <form class="form-inline" novalidate="1">
  <div class="row-fluid">
   <div class="span4"><!-- left column -->
    <div class="well controls">
     <h2>Call 'em all!</h2>
     <div class="input-append">
      <input type="text" ng-model="phone" typeahead="x as x.label for x in dataSource($viewValue) | limitTo:25" typeahead-on-select="selectionDone($item)" focus-me />
      <button class="btn" ng-click="doCall({num: phone, op: 'button'})"><i class="icon-fire"></i></button>
     </div>
    </div>

    <div class="well">
     <a title="Refresh" class="pull-right btn btn-mini" ng-click="updateBLFs()"><i class="icon-refresh"></i></a>
     <a title="Edit" href="#/blfs" class="pull-right btn btn-mini"><i class="icon-edit"></i></a>
     <h2>My BLFs</h2>
     <div ng-hide="blfs.length">
      No BLFs <a href="#/blfs">define</a>d
     </div>
     <table class="table table-hover table-condensed">
      <tr ng-repeat="r in blfs" ui-on-drop="onDrop($data, 'num', r.num)">
       <td><div ng-class="{'blf-led':true, 'blf-online': r.online && !r.busy && !r.ring, 'blf-offline': !r.online, 'blf-busy': r.busy && !r.ring, 'blf-ring': r.ring }"></div></td>
       <td><a href="javascript:void(0)" ng-click="doCall({num: r.num, op: 'blf'})">{{ r.num }}</a></td>
       <td>{{ r.label || r.dirdescr }}</td>
      </tr>
     </table>
    </div>
   </div> <!-- /left column -->

   <div class="well span8 controls">
    <a title="Refresh" class="pull-right btn btn-mini" ng-click="updateLinetracker()"><i class="icon-refresh"></i></a>
    <h2>My active calls</h2>
    <em ng-show="linetracker.length === 0">None</em>
    <table ng-hide="linetracker.length === 0" class="table table-condensed">
     <tr ng-repeat="r in linetracker" ui-on-drop="onDrop($data, 'chan', r.chan)">
      <td><div ui-draggable="true" drag="r">{{ (r.direction === 'incoming') && r.called || r.caller }}</td></div>
      <td><abbr title="{{ r.direction }}"><i ng-class="{ 'flaticon-incoming2': r.direction == 'incoming', 'flaticon-outgoing2': r.direction != 'incoming' }"></i></abbr></td>
      <td>{{ r.status }}</td>
      <td>{{ r.chan }}</td><td>{{ r.billid }}</td>
      <!--
      <td>
       <button class="btn btn-mini" title="Hold Call"><i class="flaticon-pause10"></i></button>
       <button class="btn btn-mini" title="Record conversation"><i class="flaticon-record1"></i></button>
       <button class="btn btn-mini" title="Drop call"><i class="flaticon-phone59"></i></button>
      </td>
      -->
     </tr>
    </table>
    <h2>My last calls</h2>
    <tabset>
     <tab heading="All">
	<em>TODO</em>
     </tab>
     <tab heading="Missed">
	<em>TODO</em>
     </tab>
     <tab heading="Answered">
	<em>TODO</em>
     </tab>
     <tab heading="Outgoing">
	<em>TODO</em>
     </tab>
    </tabset>
   </div>
  </div> <!-- row-fluid -->
 </form>
</div>



