<form novalidate>
	<div class="well well-small controls form-inline">
		Timestamp:
		<label>from:   <input type="text" size="20" placeHolder="Date From" ng-model="filter.datefrom" /></label>
		<label>to:     <input type="text" size="20" placeHolder="Date To"   ng-model="filter.dateto" /></label>
		<label>Phone:  <input type="text" size="16" placeHolder="Phone"     ng-model="filter.phone" /></label>
		<label>BillID: <input type="text" size="20" placeHolder="Bill ID"   ng-model="filter.billid" /></label>
		<label>Zero time: <input type="checkbox" ng-model="filter.empty" /></label>
		<button ng-click="getData()">Apply</button>
	</div>
</form>
<div class="container-fluid" style="padding:0">
<div class="row-fluid">
	<div class="table-responsive">
		<div id="cdrs" class="gridStyle span12" ng-grid="gridOptions"></div>
		<!-- TODO:
		https://github.com/angular-ui/ng-grid/issues/265
		https://github.com/angular-ui/ng-grid/blob/master/plugins/ng-grid-layout.js
		-->
	</div>
</div>
<div class="row-fluid">
	<pre class="span6">{{ selection[0] }}</pre>
	<div class="span6">
		<div class="calllog-msg" ng-repeat="x in calllog" ng-class="'calllog-' + x.tag">
			<h4>#{{x.id}} {{x.ts}} <em>{{x.tag}}</em></h4>
			<div markdown="{{x.value}}"></div>
		</div>
	</div>
</div>
</div>

