<h1>Schedule</h1>

<div class="container-fluid">
<div class="row-fluid">
	<div class="gridStyle span12" ng-grid="gridOptions"></div>
</div> <!-- row-fluid -->

<form novalidate>
<div class="row-fluid form-horizontal">
	<div class="span2">
		<input type="text" ng-model="selection[0].prio" placeholder="Priority" tooltip="Priority" />
	</div>
	<div class="span3">
		<label class="checkbox"><input type="checkbox" ng-model="anymday" /> Любая дата</label>
		<div collapse="anymday">
			<input type="text" class="span8" ng-model="selection[0].mday" placeholder="Start date" tooltip="Start date" /> <!-- datepicker-popup="dd.MM.yyyy" -->
			<input type="text" class="span4" ng-model="selection[0].days" placeholder="Days" tooltip="Days" />
			<div class+"well well-small" style="display:inline-block" ng-model="selection[0].mday" datepicker-format-string="yyyy-MM-dd">
				<datepicker show-weeks="false" />
			</div>
		</div>
	</div>
	<div class="span3">
		<label class="checkbox" class="sp1n3"><input type="checkbox" ng-model="anywday" /> Любой день недели</label>
		<div collapse="anywday">
			<label class="wday" ng-repeat="d in wdays">{{d}}<br /><input type="checkbox" /></label>
		</div>
	</div>
	<div class="span4">
		<input type="text" ui-mask="99:99" class="span4"
		style="font-size:200%"
		re-validate="(?:[01][0-9]|2[0-3])\:[0-5][0-9]"
		placeholder="Время" tooltip="Время (чч:мм)"
		ng-model="selection[0].tstart"
		ng-required />

		<input type="text" ui-mask="99:99" class="span4"
		style="font-size:200%"
		re-validate="(?:[01][0-9]|2[0-3])\:[0-5][0-9]"
		placeholder="Время" tooltip="Время (чч:мм)"
		ng-model="selection[0].tend"
		ng-required />

		<div ng-model="selection[0].tstart" class="well well-small" datepicker-format-string="hh:mm:ss">
			<timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
		</div>
		<div ng-model="selection[0].tend" class="well well-small" style="display:inline-block;" datepicker-format-string="hh:mm:ss">
			<timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
		</div>
	</div>
</div> <!-- row-fluid -->
</form>


<div class="row-fluid">
<pre>
{{ selection }}
</pre>
</div> <!-- row-fluid -->
</div> <!-- container-fluid -->

