<div class="container-fluid">
<form novalidate>
<div class="row-fluid">
	<div class="pull-right">
		<table class="table table-condensed">
			<!--<tr ng-repeat="s in list" ng-class="{'info': sel.sched === s}" ng-click="sel.sched = s">-->
			<tr ng-repeat="s in list" ng-class="{'info': sel.sched.id == s.id, 'warning': s.modified, 'clickable': sel.sched.id != s.id}" ng-click="openSched(s.id)">
				<td><input type="radio" ng-model="sel.sched" name="sched" ng-value="s" /></td>
				<td>{{s.id}}</td>
				<td>{{s.name}}</td>
			</tr>
			<tr><td colspan="3">
				<a ng-href="#/schedule/new">Add new schedule</a>
			</td></tr>
		</table>
	</div>
	<h2><span class="text-danger" ng-if="sel.sched.id == 'new'">NEW </span><span class="text-warning" ng-if="sel.sched.modified">UNSAVED </span>Schedule &laquo;{{sel.sched.name}}&raquo;</h2>
        <div markdown="{{sel.sched.comments}}"></div>

	<label class="checkbox">Edit<input type="checkbox" ng-model="editsched" /></label>
	<div ng-show="editsched">
		<input ng-model="sel.sched.name" ng-change="modsched()" /><br />
		<textarea ng-model="sel.sched.comments" ng-change="modsched()" /><br />
		<button class="btn btn-default" ng-click="savesched()">Save schedule name and comments</button>
		<button class="btn btn-danger" ng-click="killsched()">Delete schedule</button>
	</div>

	<div id="schedule-rows" class="pull-left" style="width:auto;">
		<table class="table table-condensed pull-left" style="width: auto"><tr>
			<th colspan="2">Id</th>
			<th>Priority</th>
			<th>Start date</th>
			<th>Days</th>
			<th>Days of week</th>
			<th>Start time</th>
			<th>End time</th>
			<th>Mode</th>
		</tr><tr ng-repeat="s in schedule" ng-class="{'info': sel.row === s, 'warning': s.modified, 'clickable': sel.row !== s}" ng-click="sel.row = s">
			<td><input type="radio" name="row" ng-model="sel.row" ng-value="s" /></td>
			<td>{{s.id}}</td>
			<td>{{s.prio}}</td>
			<td>{{s.mday}}</td>
			<td>{{s.days}}</td>
			<td>{{s.dow}}</td>
			<td>{{s.tstart}}</td>
			<td>{{s.tend}}</td>
			<td>{{s.mode}}</td>
		</tr></table>
		<br /><a ng-click="addrow()">Add row</a>
	</div>

	<div class="pull-left well form-inline" style="width:20em;" ng-show="sel.row">
		<span class="pull-right">Id: {{sel.row.id}}</span>
		<span class="pull-right text-warning" style="clear:right;" ng-show="sel.row.modified">Modified</span>
		<label class="text">Приоритет: <input type="number" ng-model="sel.row.prio" placeholder="Priority" tooltip="Priority" style="width:3em;" ng-change="modrow('prio')" /></label>

		<div>
			Дата:&nbsp;
			<label class="checkbox"><input type="checkbox" ng-model="anymday" /> любая</label>
			<div collapse="anymday">
				с&nbsp;
				<input type="text" ng-model="sel.row.mday" tooltip="Start date (yyyy-mm-dd)" ui-mask="9999-99-99" style="width:8em;" ng-change="modrow('mday')" />
				<!-- datepicker-popup="dd.MM.yyyy" -->
				<input type="number" ng-model="sel.row.days" placeholder="Days" tooltip="Days" style="width:3em;" ng-change="modrow('days')" />
				&nbsp;дней
				<!--
				<div class+"well well-small" style="display:inline-block" ng-model="selection[0].mday" datepicker-format-string="yyyy-MM-dd">
					<datepicker show-weeks="false" />
				</div>
				-->
			</div>
		</div>

		<div>
			День недели:&nbsp;
			<label class="checkbox"><input type="checkbox" ng-model="wday.any" /> любой</label>
			<div collapse="wday.any">
				<label class="wday" ng-repeat="d in wday.names">{{d}}<br /><input type="checkbox" ng-model="wday.chk[$index]"/></label>
			</div>
		</div>

		<div>
			Время:&nbsp;
			<label class="checkbox"><input type="checkbox" ng-model="wholeday" /> целый день</label>
			<div collapse="wholeday">
				с&nbsp;
				<input type="text" ui-mask="99:99" re-validate="(?:[01][0-9]|2[0-3])\:[0-5][0-9]" style="width:6em;"
					tooltip="Время (чч:мм)" ng-model="sel.row.tstart" ng-required ng-change="modrow('tstart')" />
				по&nbsp;
				<input type="text" ui-mask="99:99" re-validate="(?:[01][0-9]|2[0-3])\:[0-5][0-9]" style="width:6em;"
					tooltip="Время (чч:мм)" ng-model="sel.row.tend" ng-required ng-change="modrow('tend')" />
			</div>
		</div>

		<label class="text">Режим: <input type="text" ng-model="sel.row.mode" ng-required="true" ng-change="modrow('mode')" /></label>
		<div>
			<button class="btn btn-default" ng-click="saverow()" ng-disabled="! sel.row.modified">Сохранить</button>
			<button class="btn btn-danger" ng-click="killrow()">Удалить</button>
		</div>

	</div>
</div> <!-- row-fluid -->
</form>

</div> <!-- container-fluid -->

