
<div id="userdetail" class="container-fluid">
	<div class="pull-right">
		<table class="table table-condensed">
			<tr ng-repeat="s in list" ng-class="{info: sel.itemId == s.id, clickable: sel.itemId != s.id}" ng-click="openItem(s.id)">
				<td><input type="radio" ng-model="sel.itemId" name="sw" ng-value="s.id" /></td>
				<td>{{s.num.num}}</td>
				<td>{{s.num.descr}}</td>
			</tr>
			<tr><td colspan="3">
				<a href="#/switches/new">Add new switch</a>
			</td></tr>
		</table>
	</div>
 <h1>{{ existing ? (item.num.num + ': ' + item.num.descr) : 'New switch' }}</h1>
 <form novalidate="1">

  <div class="row-fluid">
   <div class="span12 well">
    <dirnum dir-num="item.num" num-type="switch" num-readonly="existing" any-change="modItem()" />
   </div>
  </div>

  <div id="switchparams1" class="row-fluid form-inline">
   <div class="span12">
    <div class="pull-left">
     <label>Switch on
      <select ng-model="item.param" ng-change="modItem()">
       <option value="schedule">Schedule</option>
       <option value="config">Configuration parameter</option>
       <option value="random">Random selection</option>
       <option value="custom">Custom SQL function</option>
      </select>
     </label>
     <label ng-if="item.param != 'random'">Arg: <input type="text" ng-model="item.arg" ng-change="modItem()" /></label>
     <br />
     <label>Default route: <input type="num" ng-model="item.defroute" ng-change="modItem()" /></label>
    </div>
    <div class="pull-right">
     <button class="btn btn-default" ng-click="saveItem()" ng-disabled="! item.modified">Save switch</button>
     <br />
     <button class="btn btn-danger" ng-click="delItem()" ng-disabled="! item">Delete switch</button>
    </div>
   </div>
  </div> <!-- row -->

  <div class="row-fluid" ng-show="existing">
   <div id="switchcases" class="span12">
    <h2>Cases</h2>
    <table id="switch-cases" class="table table-condensed"><tr>
     <th>Value</th>
     <th>Route</th>
     <th>Comments</th>
    </tr><tr ng-repeat="row in rows" ng-click="sel.row = row" ng-class="{info: sel.row === row, warning: row.modified, clickable: sel.row !== row}">
     <td><input type="radio" name="row" ng-model="sel.row" ng-value="row" /> {{row.value}}</td>
     <td>{{row.route}}</td>
     <td>{{row.comments}}</td>
    </tr><tr ng-show="sel.row">
     <td><input type="text" ng-model="sel.row.value" ng-change="modRow()" /></td>
     <td><input type="num" ng-model="sel.row.route" ng-change="modRow()" /></td>
     <td><input type="text" ng-model="sel.row.comments" ng-change="modRow()" /></td>
    </tr><tr><td colspan="4">
     <button class="btn" ng-click="addRow()">Add row</button>
     <button class="btn btn-default" ng-click="saveRow()" ng-disabled="! sel.row || ! sel.row.modified">Save row</button>
     <button class="btn btn-danger" ng-click="delRow()" ng-disabled="! sel.row">Delete row</button>
    </td></tr></table>
   </div>
  </div> <!-- row -->

 </form>
</div> <!-- container-fluid -->



