<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" [%#
    %]"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
[%
styles = [ 'css/ng-grid.css'
	, 'css/bootstrap.css', 'css/bootstrap-responsive.css', 'my.css'
];
javascripts = [ 'jquery-1.10.2.min.js', 'angular.min.js'
	, 'angular-route.min.js', 'ng-grid-2.0.7.min.js'
	, 'angular-cookies.js', 'angular-ui-utils.min.js'
	, 'ui-bootstrap-tpls-0.6.0.min.js'
	, 'draganddrop.js'
	, "${prefix}app.js", "${prefix}controllers.js"
];
%]
<html ng-app="dyatelApp"><head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="/static/favicon.ico">
[% FOREACH css IN styles %] <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/' _ css) %]" />
[% END %]
[% FOREACH js IN javascripts %] <script type="text/javascript" src="[% c.uri_for('/static/' _ js) %]"></script>
[% END %]
 <!-- <title ng-bind="'DYATEL &mdash; ' + title">DYATEL</title> -->
 <title>{{ Title.get() }}</title>
</head><body>
 <div class="navbar navbar-inverse navbar-static-top" ng-include="'/static/p/[% prefix %]navbar.htm'"></div>
 <div id="view" ng-view></div>
</body></html>
<!-- user: [% c.user.username %] -->




