[% IF info.avatar %]
<img align="left" width="200" height="200" src="[% info.avatar %]" />
[% END %]
## Перевёл: [% event.diverter|html %]
[% IF info.descr %]
### [% info.descr|html %]
[% END %]
<span class="clearfix" />


