[% IF info.avatar %]
<img align="left" width="200" height="200" src="[% info.avatar %]" />
[% END %]
## [% info.descr|html %]
<dl class="inline">
	<dt>Display name</dt><dd>[% event.callername|html %]</dd>
	<dt>Caller</dt><dd>[% info.num %]</dd>
	<dt>Number</dt><dd>[% info.numkind %]</dd>
</dl>
<span class="clearfix" />


