.divertion {
	font-weight:bold;
	font-siyle:italic;
	background-color:#AAA;
	border:1px solid #444;
	padding:0px 2px;
}

.gridStyle {
	/*border:2px solid blue;*/
	width:400px;
	height:300px;
}

#morenumsdlg .gridStyle {
	width:500px;
	height:200px;
}

html,body{height:100%;}
/*
.fill{
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}
*/

.changed {
	background-color: #FDD;
}

.selected .changed {
	background-color: #FAA;
}

.mybadge {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(151, 51, 51);
	border: 1px solid rgb(151, 151, 151);
	margin: 0px 3px 3px 0px;
	padding: 0px 6px 0px 6px;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
	border-radius: 6px;
}

#phonebook input.input-large {
	width: 50%;
	height: 36px;
	font-size: 32px;
	line-height: 32px;
}
#phonebook #filter {
	margin-top:32px;
}
#phonebook label.checkbox {
	margin-left: 6px;
}

label.wday {
	display:inline-block;
	text-align:center;
	padding:1px 2px;
}
label.wday input {
	clear:both;
}

span.member {
	background-color:#EED;
	border:1px solid #BBB;
	margin:1px 3px;
	padding:1px 2px;
/*	cursor: pointer; */
}

.on-drag-enter{
	background-color : #DDEEDD;
	border:1px dotted #40FF40;
}

[ui-draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: move;
}

.actbutton {
	display:inline;
	float:right;
	border:1px solid #888;
	background-color:#eee;
	margin-top:1.2em;
	padding:1px 8px;
}

.blf-led {
	display: inline-block;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #000;
}

.blf-online {
	background-color: #0E0;
}
.blf-offline {
	background-color: #444;
}
.blf-busy {
	background-color: #E00;
}
.blf-ringing {
	-webkit-animation: blink 0.2s linear infinite;
	animation: blink 0.2s linear infinite;
}
@keyframes         blink { 0% { background-color: #FF0; } 100% { background-color: #E84; } }
@-webkit-keyframes blink { 0% { background-color: #FF0; } 100% { background-color: #E84; } }

#connection-state a { line-height:20px; font-size:130%; padding:1px 2px 1px 4px; }
#fullscreen-button { font-size:150%; margin:2px; cursor:pointer; }
#mytoolbar { position:absolute; top:-40px; right:0; z-index:100; color:#EEE; padding:8px 10px; }

.nav-tabs a { cursor:pointer; }

/* 100% height
   ,-----#wholescreen---------,
   |  ... some header ...     |
   |,--#viewwrapper----------,|
   ||,--#view---------------,||
   |||                      |||
   |||  content             |||
   |||                      |||
   ||`----------------------'||
   |`------------------------'|
   `--------------------------'
*/
html, body, #wholescreen, #view { height:100%; margin:0; padding:0; }
#wholescreen:before {
	content: '';
	height: 100%;
	float: left;
}
#viewwrapper {
	position: relative;
	z-index: 1;
}
#viewwrapper:after {
	content: '';
	clear: both;
	display: block;
}
#view {
	position: absolute;
	width: 100%;
	height: 100%;
}

.fillpage { height:100%; margin:0; padding:0; }
.allow-scroll { overflow:auto; }
.noscroll { overflow:hidden; }
#myheader .navbar-inner:after, #myheader .container:after { clear:none; } /* navbar needs to be fixed */

/* one more animation */
@keyframes rainbow {
  0%   { color: rgb(255,  0,  0); }
  17%  { color: rgb(255,255,  0); }
  33%  { color: rgb(0,  255,  0); }
  50%  { color: rgb(0,  255,255); }
  66%  { color: rgb(0,    0,255); }
  83%  { color: rgb(255,  0,255); }
  100% { color: rgb(255,  0,  0); }
}
.rainbow { animation: rainbow 3s ease infinite; }


/* Cool checkboxes from http://codepen.io/bbodine1/pen/novBm */
/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #00bf00;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}
/* end .slideThree */


/* ng{Show/Hide} animation */
.animate-show {
	-webkit-transition:all linear 1.7s;
	transition:all linear 1.7s;
	line-height:20px;
	opacity:1;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	display:block!important;
}
.animate-show.ng-hide {
	line-height:0;
	opacity:0;
}

/* user switcher */
#userswitcher { font-size:10pt; vertical-align:baseline; border-bottom:2px solid grey; }
#userswitcher input { font-size:10pt; line-height:12pt; height:12pt; }

/* Call panel */
.callpanel { padding:3px 6px; }
.callpanel #buttonRec.active { color:red; }

.calllog-msg { padding:0 4px; margin:4px 0; border:2px solid #DDD; background-color:#FCFCFC; }
.calllog-msg h4 { font-size: x-small; margin:0; padding:0; font-weight:normal; color:grey; }
.calllog-msg div { margin:0 12px 4px 12px; }
.calllog-msg button { float:right; margin: 4px; position:relative; }


/* my devices - small phones in upper right corner */
#mydevices div { cursor:help; color:#0C0; }
#mydevices div.tls { color:#04C; }
#mydevices div.jabber { color:#CC0; }

