.divertion {
	font-weight:bold;
	font-siyle:italic;
	background-color:#AAA;
	border:1px solid #444;
	padding:0px 2px;
}

.gridStyle {
	/*border:2px solid blue;*/
	width:400px;
	height:300px;
}

#morenumsdlg .gridStyle {
	width:500px;
	height:200px;
}

html,body{height:100%;}
/*
.fill{
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}
*/

.changed {
	background-color: #FDD;
}

.selected .changed {
	background-color: #FAA;
}

.mybadge {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(151, 51, 51);
	border: 1px solid rgb(151, 151, 151);
	margin: 0px 3px 3px 0px;
	padding: 0px 6px 0px 6px;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
	border-radius: 6px;
}

#phonebook input.input-large {
	width: 50%;
	height: 36px;
	font-size: 32px;
	line-height: 32px;
}
#phonebook #filter {
	margin-top:32px;
}
#phonebook label.checkbox {
	margin-left: 6px;
}

label.wday {
	display:inline-block;
	text-align:center;
	padding:1px 2px;
}
label.wday input {
	clear:both;
}

span.member {
	background-color:#EED;
	border:1px solid #BBB;
	margin:1px 3px;
	padding:1px 2px;
/*	cursor: pointer; */
}

.on-drag-enter{
	background-color : #aaaaaa;
}

[ui-draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: move;
}

.actbutton {
	display:inline;
	float:right;
	border:1px solid #888;
	background-color:#eee;
	margin-top:1.2em;
	padding:1px 8px;
}

.blf-led {
	width: 12px;
	height: 12px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #000;
}

.blf-online {
	background-color: #0E0;
}
.blf-offline {
	background-color: #444;
}
.blf-busy {
	background-color: #E00;
}


