<div class="navbar-inner" ng-controller="NavbarCtrl">
 <div class="container">
  <button class="btn btn-navbar" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
  </button>
  <a class="brand" href="#/home" translate>Dyatel</a>
  <div class="nav-collapse" collapse="isCollapsed">
   <ul class="nav">

    <li class="dropdown"><a href="#/phonebook" translate>Phonebook</a></li>

    <li class="dropdown"><a href="#/calllist" translate>CallsHistory</a></li>

    <li class="dropdown">
     <a href="#" class="dropdown-toggle"><span translate>Settings</span><b class="caret"></b></a>
     <ul class="dropdown-menu">
      <li><a href="#/myphone" translate>MyPhone</a></li>
      <li><a href="#/myabbrs" translate>AbbrNums</a></li>
      <li><a href="#/blfs" translate>BLF</a></li>
      <li class="dropdown-submenu"><a href="javascript:void(0)" translate>Language</a>
       <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" ng-click="setLanguage('en')" translate>English</a></li>
        <li><a href="javascript:void(0)" ng-click="setLanguage('ru')" translate>Russian</a></li>
       </ul>
      </li>
     </ul>
    </li>

   </ul>
   <ul class="nav pull-right">
    <li><a href="/wiki/Help" translate>Help</a></li>
    <li ng-repeat="b in user.badges"><p class="navbar-text"><a class="mybadge" href="/{{ b.substr(0, 1) }}/">{{ b }}</a></p></li>
    <li><p class="navbar-text"><abbr title="{{ user.name }}">{{ user.login }}</abbr></p></li>
   </ul>
  </div> <!-- /.nav-collapse -->
 </div>
</div>

